/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #e9e0cf;
  overflow-x: hidden;
  color: #142b2b;
  }

/* HEADER */
header {
  background-color: #8f9575;
  color:#142b2b;
  padding:60px 20px;
  text-align: center;
  align-items: center;
  height: auto;
}
header img { 
  width: 200px;
  height: 200px;
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 1000;
}
header h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero {
  width: 100vw;
  min-height: 75vh;

  background: url("img/solo.jpg") center/cover no-repeat;

  position: relative;

  display: flex;
  align-items: center;
}

/* Overlay */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
}

/* Conteúdo */
.hero-content {
  position: relative;

  max-width: 1200px;
  margin: auto;
  padding: 50px 30px;

  display: grid;
  grid-template-columns: 1fr 1.2fr auto;
  gap: 40px;

  align-items: center;

  color: #fff;
}

/* Título */
.hero-text h1 {
  font-size: 44px;
  line-height: 1.2;
}

/* Texto */
.hero-desc p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 12px;
}

/* Botão */
.hero-btn {
  display: flex;
  justify-content: flex-start;
}

.btn-primary {
  background: #b87429;
  color: #fff;

  padding: 14px 26px;

  border-radius: 10px;
  border: none;

  font-weight: 600;
  text-decoration: none;

  transition: 0.3s;
}

.btn-primary:hover {
  background: #8f5a1f;
  transform: scale(1.05);
}

/*CONTAINER*/

.container {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

section {
  margin-bottom: 60px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

p {
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
}

/* Listas */

.lista {
  list-style: none;
  text-align: center;
}

.lista li {
  padding: 8px 0;
  font-weight: 500;
}

/* Produtos */

.products ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 15px;
}

/*FOOTER*/

footer {
  background: #8f9575;
  padding: 40px 20px;
  text-align: center;
}

.card {
  background: #fff;
  max-width: 400px;
  margin: auto;

  padding: 25px;

  border-radius: 12px;

  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

/* Whats */

.btn-whats {
  background: #35897E;
  color: #fff;

  padding: 12px 20px;

  border-radius: 8px;
  border: none;

  cursor: pointer;
  font-weight: 600;

  transition: 0.3s;
}

.btn-whats:hover {
  background: #215C54;
}

/*MOBILE*/

@media (max-width: 900px) {

  .hero-content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 34px;
  }

  .hero-desc p {
    text-align: center;
  }

  .hero-btn {
    justify-content: center;
  }

  .topo {
    flex-direction: column;
  }
}
